
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env

output/laporan/*
!output/laporan/.gitkeep

output/check poin member/*
!output/check poin member/.gitkeep
result.json
